{% extends 'base.html.twig' %}
{% block title 'Reglages' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <ul>
        <li>
            <form method="post" action="{{ path('reglages.changeId') }}">
                <label>Identifiant : {{ app.user.username }}</label>
                <button type="submit">Changer son identifiant</button>
            </form>
        </li>
        <li>
            <form method="post" action="{{ path('reglages.changePassword') }}">
                <label>Mot de passe : ******</label>
                <button type="submit">Changer son mot de passe</button>
            </form>
        </li>
        <li>
            <form method="post" action="{{ path('reglages.changeEmail') }}">
                <label>Email : {{ app.user.email }}</label>
                <button type="submit">Changer son email</button>
            </form>
        </li>
        {% if role == "ROLE_ADMIN" %}
            <li><label for="importSelect">Importer une liste de :</label>
                <select id="importSelect">
                    <option name="importClasses">Classes</option>
                    <option name="importEleves">Élèves</option>
                    <option name="importProfs">Professeurs</option>
                </select>
                <form id="importSelectType" enctype="multipart/form-data" method="POST" action="{{ path('import.import') }}"></form>
                <p id="caution"></p>
            </li>
        {% endif %}
    </ul>
{% endblock %}
{% block javascripts %}
    <script>
        let importSelect = $("#importSelect");
        let div = $("#importSelectType");
        let caution = $("#caution");
        let file = div.children()

        importSelect.on("change", addInput);
        $(document).ready(addInput);

        function addInput(){
            let option = $("option:selected").attr('name');
            let str = "<input type='file' accept='text/csv' id="+option+" name="+option+"><button type='submit'>Importer le document</button>"
            // let file = $("#"+option).files();
            div.html(str);
            if (option === 'importEleves'){
                caution.html("Attention : Si une liste d'élèves est importée avec des champs indispensables non remplis (nom, prenom, classe et email), les élèves posant problème ne seront pas ajoutés.");
            } else if (option === 'importProfs'){
                caution.html("Attention : Si une liste de professeurs est importée avec des champs indispensables non remplis (nom, prenom, classe et email), les professeurs posant problème ne seront pas ajoutés.");
            } else {
                caution.html("");
            }
        }
    </script>
{% endblock %}