{% extends 'base.html.twig' %}
{% block title 'Utilisateurs' %}
{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <form method="POST" action="{{ path('utilisateurs.add') }}">
        {% if role == "ROLE_PERSONNEL" or role == "ROLE_ADMIN" %}
            <select id="util_select" name="typeUtil">
                <option {% if select is defined and select == 'Eleves' %}selected{% endif %} value="Eleves">Eleves
                </option>
                <option {% if select is defined and select == 'Professeurs' %}selected{% endif %} value="Professeurs">
                    Professeurs
                </option>
                <option {% if select is defined and select == 'Personnels' %}selected{% endif %} value="Personnels">
                    Personnels
                </option>
                <option {% if select is defined and select == 'Admins' %}selected{% endif %} value="Admins">
                    Admins
                </option>
            </select>
            <input type="submit" value="Ajouter">
        {% endif %}
        <select id="limit" name="limit">
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
        </select>
        <button type="button" id="offsetMoins"><</button>
        <button type="button" id="offsetPlus">></button>
        <input id="search" type="search" placeholder="Search" aria-label="Search">
    </form>
    <div class="modal fade" id="modalCRUD" tabindex="-1" role="dialog" aria-labelledby="modalCRUD" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitre"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sousgroupeField col-2">
            <div id="sousgroupeMsg"></div>
            <input required type="text" name="sousgroupeTitre" placeholder="Nom du sous-groupe">
            <label for="duree">Temps de validité du sous-groupe :</label>
            <select name="duree" id="duree">
                <option value=7>7 jours</option>
                <option value=15>15 jours</option>
                <option value=30>1 mois</option>
                <option value=90>3 mois</option>
                <option value=999>Jusqu'à la fin de l'année</option>
            </select>
            <ul id="sousgroupeList"></ul>
            <ul id="profSousgroupeList"></ul>
            <button type="button" name="sousgroupeAdd">Créer le sous-groupe</button>

        </div>
        <div id="ajax_results" class="d-flex col-10"></div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        let select = $('#util_select');
        let div = $('#ajax_results');
        let plus = $('#offsetPlus');
        let moins = $('#offsetMoins');
        let limit = $('#limit');
        let updateButton = $('.update');
        let deleteButton = $('.delete');
        let search_input = $('#search');
        let modal = $('#modalCRUD');
        let modalTitre = $("#modalTitre");
        let modalBody = $("#modal-body");
        let sousgroupeList = [];
        let sousgroupeProfList = [];
        let list = $("#sousgroupeList");
        let profList = $("#profSousgroupeList");
        let offset = 0;
        let sousgroupeButton = $("button[name = 'sousgroupeAdd']")

            $(moins).click(function () {
                offset -= 1;
                if (offset < 0) {
                    offset = 0;
                } else {
                    AJAX();
                }
            })
        $(plus).click(function () {
            offset += 1;
            AJAX();
        })
        $(sousgroupeButton).click(function () {
            sousgroupeAJAX();
        })
        $(search_input).keyup(function () {
            AJAX();
        })
        $(select).change(function () {
            offset = 0;
            AJAX();
        })
        $(limit).change(function () {
            AJAX();

        })
        $(document).ready(function () {
            AJAX();
        })

        function sousgroupeAJAX() {
            {% if app.user.roles[0] == 'ROLE_PROF' %}
            sousgroupeProfList = [{'id': {{ app.user.id }} }];
            {% endif %}
            $.ajax({
                url: " {{ path('sousgroupe.add') }}",
                method: "POST",
                data: {
                    eleves: sousgroupeList,
                    profs: sousgroupeProfList,
                    nom: $("input[name = 'sousgroupeTitre']").val(),
                    temps: $("#duree").val()
                }
            }).done(function (msg) {
                console.log(msg.success)
                if (msg.error) {
                    $('#sousgroupeMsg').html("<span class='error'>" + msg.error + "</span>");
                } else if (msg.success) {
                    $('#sousgroupeMsg').html("<span class='success'>" + msg.success + "</span>");
                }
                list.html("");
                profList.html("");
                console.log($(".selected"));
                $("div.selected").removeClass("selected");
                $("button.selected").removeClass('selected').text("Ajouter au sous-groupe").off("click").bind('click', function () {
                    AddSousgroupe($(this));
                });
            })
        }

        function AJAX() {
            let user = "";
            {% if role == "ROLE_PROF" %}
                user = "Eleves";
            {% else %}
                user = select.children('option:selected').val();
            {% endif %}
            $.ajax({
                url: "{{ path('utilisateurs.ajax') }}",
                method: "POST",
                data: {user: user, limit: limit.val(), offset: offset, search: search_input.val()}
            }).done(function (msg) {
                div.html(msg);
                if (select.val() === 'Eleves') {
                    checkSousgroupe(sousgroupeList);
                } else if (select.val() === 'Profs') {
                    checkProfSousgroupe(sousgroupeProfList);
                }
            })
        }

        modal.on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget) // Button that triggered the modal
            let CRUD = button.data('button') // Extract info from data-* attributes
            let path = "";
            if (CRUD === "modif") {
                path = "{{ path('utilisateurs.modif') }}";
            } else if (CRUD === "suppr") {
                path = "{{ path('utilisateurs.delete') }}";
            }
            $.ajax({
                url: path,
                method: "POST",
                data: {user: button.data('user'), id: button.data('id')}
            }).done(function (msg) {
                modalTitre.text(msg.titre)
                modalBody.html(msg.form.content)
            })
        })
        modal.on('hide.bs.modal', function () {
            modalTitre.text("")
            modalBody.html("")
        })

        function AddSousgroupe(button) {
            let row = button.parent().parent();
            let nom = row.children(".nom").text();
            let classe = row.children(".classeEleve").text();
            let id = row.data('id');
            appendToList(list, id, nom, classe);
            sousgroupeList.push({'id': id, 'nom': nom, 'classe': classe});
            row.addClass('selected')
            button.addClass('selected').text("Enlever du sous-groupe").off("click").bind('click', function () {
                RemoveSousgroupe($(this));
            });
        }

        function RemoveSousgroupe(button) {
            let row = button.parent().parent();
            let id = row.data('id');
            let li = $("#list_add_" + id);
            row.removeClass("selected");
            button.removeClass('selected').text("Ajouter au sous-groupe").off("click").bind('click', function () {
                AddSousgroupe($(this));
            });
            let index = sousgroupeList.findIndex(elem => elem['id'] === id);
            sousgroupeList.splice(index, 1);
            li.remove();
        }

        function appendToList(ul, id, nom, classe) {
            let li = document.createElement('li');
            let span_nom = document.createElement('span');

            if (typeof classe !== undefined) {
                let span_classe = document.createElement('span');
                span_classe.classList.add('listClasse');
                li.append(span_classe);
                span_classe.innerText = classe;
                li.id = "list_add_" + id;
            } else {
                li.id = "list_show_" + id;
            }
            span_nom.classList.add('listNom')
            li.append(span_nom);
            ul.append(li);
            span_nom.innerText = nom;
        }

        function checkSousgroupe(list) {
            list.forEach(function (li) {
                let id = li["id"];
                let row = $("div[data-id ='" + id + "']");
                let button = $("#add_" + id);
                row.addClass('selected')
                button.addClass('selected').text("Enlever du sous-groupe").off("click").bind('click', function () {
                    RemoveSousgroupe($(this));
                });
            })
        }

        function AddProfSousgroupe(button) {
            let row = button.parent().parent();
            let nom = row.children(".nom").text();
            let id = row.data('id');
            appendToList(profList, id, nom);
            sousgroupeProfList.push({'id': id, 'nom': nom});
            button.addClass('selected').text("Enlever de la liste destinataire").off("click").bind('click', function () {
                RemoveProfSousgroupe($(this));
            });
        }

        function checkProfSousgroupe(list) {
            list.forEach(function (li) {
                let id = li["id"];
                let row = $("div[data-id ='" + id + "']");
                let button = $("#show_" + id);
                row.addClass('selected')
                button.addClass('selected').text("Enlever de la liste destinataire").off("click").bind('click', function () {
                    RemoveSousgroupe($(this));
                });
            })
        }

        function RemoveProfSousgroupe(button) {
            let row = button.parent().parent();
            let id = row.data('id');
            let li = $("#list_show_" + id);
            row.removeClass("selected");
            button.removeClass('selected').text("Ajouter à la liste destinataire").off("click").bind('click', function () {
                AddProfSousgroupe($(this));
            });
            let index = sousgroupeProfList.findIndex(elem => elem['id'] === id);
            sousgroupeProfList.splice(index, 1);
            li.remove();
        }
    </script>
{% endblock %}