{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/Utilisateurs/index.css') }}">
{% endblock %}
{% block title 'Utilisateurs' %}
{% block body %}
    <div class="container-fluid">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <form method="POST" action="{{ path('utilisateurs.add') }}">
            {% if role == "ROLE_PERSONNEL" or role == "ROLE_ADMIN" %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="util_select">Utilisateurs</label>
                    </div>
                    <select id="util_select" name="typeUtil" class="custom-select">
                        <option {% if select is defined and select == 'Eleves' %}selected{% endif %} value="Eleves">
                            Eleves
                        </option>
                        <option {% if select is defined and select == 'Professeurs' %}selected{% endif %}
                                value="Professeurs">
                            Professeurs
                        </option>
                        <option {% if select is defined and select == 'Personnels' %}selected{% endif %}
                                value="Personnels">
                            Personnels
                        </option>
                        <option {% if select is defined and select == 'Admins' %}selected{% endif %} value="Admins">
                            Admins
                        </option>
                    </select>
                    <div class="input-group-append">
                        <input class="btn btn-outline-secondary" type="submit" value="Ajouter">
                    </div>
                </div>
            {% endif %}
        </form>
        <div class="input-group">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-info" id="offsetMoins"><</button>
                <button type="button" class="btn btn-info" id="offsetPlus">></button>
                <label class="input-group-text" for="search">Recherche</label>
            </div>
            <input class="form-control" id="search" type="search" placeholder="Recherche" aria-label="Recherche">
            <div class="input-group-append">
                <button style="display: none" class="btn btn-primary" id="optionsToggle">Options</button>
            </div>
        </div>
        <div class="modal fade" id="modalCRUD" tabindex="-1" role="dialog" aria-labelledby="modalCRUD"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitre"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div id="ajax_results" class="d-flex col"></div>
            <div id="optionsField" class="col-3">
                <div class="input-group" id="limit-select">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="limit">Limite de résultats</label>
                    </div>
                    <select class="custom-select" name="limit" id="limit">
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                        <option value="60">60</option>
                        <option value="90">90</option>
                    </select>
                </div>
                <div id="sousgroupeMsg" class="mb-1 text-center p-2"></div>
                <div class="input-group" id="sousgroupeInput">
                    <div class="input-group-prepend">
                        <label hidden for="sousgroupeSelect">Choix du sous-groupe ou de la classe</label>
                        <select class="custom-select" id="sousgroupeSelect">
                            {% if app.user.roles[0] == 'ROLE_PERSONNEL' or app.user.roles[0] == 'ROLE_ADMIN' %}
                            <optgroup label="Classes">
                                <option value="cl_autre">Nouvelle classe</option>
                                {% for classe in classes %}
                                    <option value="cl_{{ classe.id }}">{{ classe.nomClasse|e }}</option>
                                {% endfor %}
                            </optgroup>
                            {% endif %}
                            <optgroup label="Sous-groupes">
                                <option value="sg_autre">Nouveau groupe</option>
                                {% for sousgroupe in sousgroupes %}
                                    <option value="sg_{{ sousgroupe.id }}">{{ sousgroupe.nomSousgroupe|e }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                    </div>
                    <label for="sousgroupeTitre" hidden>Entrez le nom</label>
                    <input required type="text" class="form-control" name="sousgroupeTitre" id="sousgroupeTitre"
                           placeholder="Nom">

                </div>
                <form class="d-flex justify-content-around mb-4">
                    <button type="button" class="btn btn-primary" name="sousgroupeAdd">Créer</button>
                    <button type="button" class="btn btn-info" name="sousgroupeUpdate">Modifier</button>
                    <button type="button" class="btn btn-danger" name="sousgroupeDelete">Supprimer</button>
                </form>
                <div class="eleve-list">
                    <p>Éleves :</p>
                    <ul id="sousgroupeList"></ul>
                </div>
                {% if role == "ROLE_PERSONNEL" or role == "ROLE_ADMIN" %}
                    <div class="prof-list">
                        <p>Professeurs :</p>
                        <ul id="profSousgroupeList"></ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        let modifUser = {};
        let listingUtil = {};
        let indexUtil = {
            index: {
                select: $('#util_select'),
                div: $('#ajax_results'),
                plus: $('#offsetPlus'),
                moins: $('#offsetMoins'),
                limit: $('#limit'),
                updateButton: $('.update'),
                deleteButton: $('.delete'),
                search_input: $('#search'),
                modal: $('#modalCRUD'),
                modalTitre: $("#modalTitre"),
                modalBody: $("#modal-body"),
                list: $("#sousgroupeList"),
                profList: $("#profSousgroupeList"),
                sousgroupeButton: $("button[name = 'sousgroupeAdd']"),
                sousgroupeUpdateButton: $("button[name = 'sousgroupeUpdate']"),
                sousgroupeDeleteButton: $("button[name = 'sousgroupeDelete']"),
                sousgroupeTitre: $("input[name = 'sousgroupeTitre']"),
                sousgroupeMsg: $('#sousgroupeMsg'),
                sousgroupeSelect: $('#sousgroupeSelect'),
                optionsToggle: $("#optionsToggle"),
                optionsField: $("#optionsField"),
            },
            param: {
                sousgroupeList: [],
                sousgroupeProfList: [],
                startList: {% if app.user.roles[0] == 'ROLE_PROF' %}"sg_autre"{% else %}"cl_autre"{% endif %},
                offset: 0
            },
            method: {
                initialize: function () {
                    /**
                     * Ajout changement de page au niveau des flèches
                     */
                    indexUtil.index.moins.click(function () {
                        if (indexUtil.param.offset > 0) {
                            indexUtil.param.offset -= 1;
                            indexUtil.method.AJAX();
                        }
                    });
                    indexUtil.index.plus.click(function () {
                        if ($(".table").children().length - 1 === parseInt(indexUtil.index.limit.val())) {
                            indexUtil.param.offset += 1;
                            indexUtil.method.AJAX();
                        }
                    });
                    /**
                     * Lancement de l'ajout de sous-groupe ou classe
                     */
                    indexUtil.index.sousgroupeButton.click(function () {
                        if (indexUtil.index.sousgroupeSelect.val() === "sg_autre") {
                            indexUtil.method.addAJAX("{{ path('sousgroupe.add') }}");
                        } else if (indexUtil.index.sousgroupeSelect.val() === "cl_autre") {
                            indexUtil.method.addAJAX("{{ path('classe.add') }}");
                        }
                    });
                    /**
                     * Lancement de l'update de sous-groupe ou classe
                     */
                    indexUtil.index.sousgroupeUpdateButton.click(function () {
                        if (indexUtil.index.sousgroupeSelect.val().substring(0, 3) === "sg_") {
                            indexUtil.method.updateAJAX("{{ path('sousgroupe.update') }}");
                        } else if (indexUtil.index.sousgroupeSelect.val().substring(0, 3) === "cl_") {
                            indexUtil.method.updateAJAX("{{ path('classe.update') }}");
                        }
                    });
                    /**
                     * Lancement de la suppression de sous-groupe ou classe
                     */
                    indexUtil.index.sousgroupeDeleteButton.click(function () {
                        if (indexUtil.index.sousgroupeSelect.val().substring(0, 3) === "sg_") {
                            indexUtil.method.deleteAJAX("{{ path('sousgroupe.delete') }}");
                        } else if (indexUtil.index.sousgroupeSelect.val().substring(0, 3) === "cl_") {
                            indexUtil.method.deleteAJAX("{{ path('classe.delete') }}");
                        }
                    });
                    /**
                     * Lancement AJAX a chaque action
                     */
                    indexUtil.index.search_input.keyup(function () {
                        indexUtil.method.AJAX();
                    });
                    indexUtil.index.select.change(function () {
                        indexUtil.param.offset = 0;
                        indexUtil.method.AJAX();
                    });
                    indexUtil.index.limit.change(function () {
                        indexUtil.param.offset = 0;
                        indexUtil.method.AJAX();
                    });
                    indexUtil.index.sousgroupeSelect.change(this.changeSelect);
                    /**
                     * Mise en place du modal Utilisateurs
                     */
                    indexUtil.index.modal.on('show.bs.modal', function (event) {
                        let button = $(event.relatedTarget) // Button that triggered the modal
                        let CRUD = button.data('button') // Extract info from data-* attributes
                        let path = "";
                        if (CRUD === "modif") {
                            path = "{{ path('utilisateurs.modif') }}";
                        } else if (CRUD === "suppr") {
                            path = "{{ path('utilisateurs.delete') }}";
                        }
                        $.ajax({
                            url: path,
                            method: "POST",
                            data: {user: button.data('user'), id: button.data('id')}
                        }).done(function (msg) {
                            indexUtil.index.modalTitre.text(msg.titre)
                            indexUtil.index.modalBody.html(msg.form.content)
                        })
                    });
                    indexUtil.index.modal.on('hide.bs.modal', function () {
                        indexUtil.index.modalTitre.text("")
                        indexUtil.index.modalBody.html("")
                    });
                    /**
                     * Toggle du champ options
                     */
                    indexUtil.index.optionsField.hide();
                    indexUtil.index.optionsToggle.click(function () {
                        indexUtil.index.optionsField.toggle();
                        listingUtil.index.addSG.toggle();
                        listingUtil.index.profSG.toggle();
                    });
                    indexUtil.index.sousgroupeSelect.val(indexUtil.param.startList);
                    indexUtil.index.sousgroupeUpdateButton.hide();
                    indexUtil.index.sousgroupeDeleteButton.hide();
                    indexUtil.index.sousgroupeTitre.val("");
                    indexUtil.method.AJAX();
                },
                /**
                 * Changement du texte dans le champ sous-groupe
                 */
                changeSelect: function() {
                    indexUtil.method.resetList();
                    if ($(this).val() !== "cl_autre" && $(this).val() !== "sg_autre") {
                        indexUtil.index.sousgroupeTitre.val($("#sousgroupeSelect option:selected").text());
                        indexUtil.index.sousgroupeButton.hide();
                        indexUtil.index.sousgroupeUpdateButton.show();
                        indexUtil.index.sousgroupeDeleteButton.show();
                        indexUtil.method.getlistAJAX();
                    } else {
                        indexUtil.index.sousgroupeTitre.val("");
                        indexUtil.index.sousgroupeButton.show();
                        indexUtil.index.sousgroupeUpdateButton.hide();
                        indexUtil.index.sousgroupeDeleteButton.hide();
                    }
                },
                /**
                 * Récupération des listes d'élèves et profs
                 */
                getlistAJAX: function () {
                    $.ajax({
                        url: "{{ path('getlistutilisateurs.getList') }}",
                        method: "POST",
                        data: {
                            value: indexUtil.index.sousgroupeSelect.val()
                        }
                    }).done(function (msg) {
                        let eleves = msg.eleves;
                        let profs = msg.profs;
                        eleves.forEach(function (eleve) {
                            let button = $("#add_"+eleve.id);
                            if (button.length > 0) {
                                button.trigger("click");
                            } else {
                                indexUtil.param.sousgroupeList.push({'id': eleve.id, 'nom': eleve.nom+' '+eleve.prenom, 'classe': eleve.nom_classe});
                                indexUtil.method.appendToList(indexUtil.index.list, eleve.id, eleve.nom+' '+eleve.prenom, eleve.nom_classe);
                            }
                        })
                        profs.forEach(function (prof) {
                            let button = $("#show_"+prof.id);
                            if (button.length > 0) {
                                button.trigger("click");
                            } else {
                                let civ = prof.civilite === null ? "" : prof.civilite+' ';
                                indexUtil.param.sousgroupeProfList.push({'id': prof.id, 'nom': civ+prof.nom+' '+prof.prenom});
                                indexUtil.method.appendToList(indexUtil.index.profList, prof.id, civ+prof.nom+' '+prof.prenom);
                            }
                        })
                        indexUtil.method.checkSousgroupe(indexUtil.param.sousgroupeList);
                        indexUtil.method.checkProfSousgroupe(indexUtil.param.sousgroupeProfList);
                    })
                },
                /**
                 * Ajout d'une nouvelle classe ou sous-groupe
                 */
                addAJAX: function (path) {
                    $.ajax({
                        url: path,
                        method: "POST",
                        data: {
                            eleves: this.pluck(indexUtil.param.sousgroupeList, 'id'),
                            profs: this.pluck(indexUtil.param.sousgroupeProfList, 'id'),
                            nom: indexUtil.index.sousgroupeTitre.val(),
                        }
                    }).done(function (msg) {
                        if (msg.error) {
                            indexUtil.index.sousgroupeMsg.html("<span class='error'>" + msg.error + "</span>");
                        } else if (msg.success) {
                            indexUtil.index.sousgroupeMsg.html("<span class='success'>" + msg.success + "</span>");
                        }
                        indexUtil.index.sousgroupeSelect.val(indexUtil.param.startList);
                        indexUtil.index.sousgroupeTitre.val("");
                        $("div.selected").removeClass("selected");
                        indexUtil.method.resetList();
                    })
                },
                updateAJAX: function (path) {
                    $.ajax({
                        url: path,
                        method: "POST",
                        data: {
                            eleves: this.pluck(indexUtil.param.sousgroupeList, 'id'),
                            profs: this.pluck(indexUtil.param.sousgroupeProfList, 'id'),
                            id: indexUtil.index.sousgroupeSelect.val(),
                            nom: indexUtil.index.sousgroupeTitre.val()
                        }
                    }).done(function (msg) {
                        if (msg.error) {
                            indexUtil.index.sousgroupeMsg.html("<span class='error'>" + msg.error + "</span>");
                        } else if (msg.success) {
                            indexUtil.index.sousgroupeMsg.html("<span class='success'>" + msg.success + "</span>");
                        }
                        indexUtil.index.sousgroupeSelect.val(indexUtil.param.startList);
                        indexUtil.index.sousgroupeTitre.val("");
                        $("div.selected").removeClass("selected");
                        indexUtil.method.resetList();
                    })
                },
                deleteAJAX: function (path) {
                    $.ajax({
                        url: path,
                        method: "POST",
                        data: {
                            id: indexUtil.index.sousgroupeSelect.val(),
                        }
                    }).done(function (msg) {
                        if (msg.error) {
                            indexUtil.index.sousgroupeMsg.html("<span class='error'>" + msg.error + "</span>");
                        } else if (msg.success) {
                            indexUtil.index.sousgroupeMsg.html("<span class='success'>" + msg.success + "</span>");
                        }
                        indexUtil.index.sousgroupeSelect.val(indexUtil.param.startList);
                        indexUtil.index.sousgroupeTitre.val("");
                        $("div.selected").removeClass("selected");
                        indexUtil.method.resetList();
                    })
                },
                /**
                 * Recherche des listes utilisateurs
                 */
                AJAX: function () {
                    let user = "";
                    {% if role == "ROLE_PROF" %}
                    user = "Eleves";
                    {% else %}
                    user = indexUtil.index.select.children('option:selected').val();
                    {% endif %}
                    $.ajax({
                        url: "{{ path('utilisateurs.ajax') }}",
                        method: "POST",
                        data: {
                            user: user,
                            limit: indexUtil.index.limit.val(),
                            offset: indexUtil.param.offset,
                            search: indexUtil.index.search_input.val()
                        }
                    }).done(function (msg) {
                        indexUtil.index.div.html(msg);
                        if (indexUtil.index.select.val() === 'Eleves') {
                            indexUtil.method.checkSousgroupe(indexUtil.param.sousgroupeList);
                        } else if (indexUtil.index.select.val() === 'Professeurs') {
                            indexUtil.method.checkProfSousgroupe(indexUtil.param.sousgroupeProfList);
                        }
                    })
                },
                /**
                 * Ajout des élèves et profs dans les listes
                 */
                appendToList: function (ul, id, nom, classe = null) {
                    let li = document.createElement('li');
                    let span_nom = document.createElement('span');
                    let button_ban = document.createElement('button');
                    if (classe) {
                        let span_classe = document.createElement('span');
                        span_classe.classList.add('listClasse');
                        li.append(span_classe);
                        span_classe.innerText = classe;
                        li.id = "list_add_" + id;
                    } else {
                        li.id = "list_show_" + id;
                    }
                    span_nom.classList.add('listNom')
                    button_ban.classList.add('float-right')
                    button_ban.classList.add('mr-2')
                    button_ban.classList.add('p-0')
                    button_ban.classList.add('btn')
                    button_ban.innerHTML = '<i class="far fa-minus-square"></i>';
                    $(button_ban).bind('click', function () {
                        let arr_id = $(this).parent().attr('id').split('_');
                        let id = arr_id[2];
                        if (arr_id[1] === 'add'){
                            let btn = $("#add_"+id);
                            if (btn){
                                indexUtil.method.removeSousgroupe(btn)
                            } else {
                                let index = indexUtil.param.sousgroupeList.findIndex(elem => elem['id'] === id);
                                indexUtil.param.sousgroupeList.splice(index, 1);
                            }
                        } else if (arr_id[1] === 'show') {
                            let btn = $("#show_"+id);
                            if (btn){
                                indexUtil.method.removeProfSousgroupe(btn)
                            } else {
                                let index = indexUtil.param.sousgroupeProfList.findIndex(elem => elem['id'] === id);
                                indexUtil.param.sousgroupeProfList.splice(index, 1);
                            }
                        }
                        $(this).parent().remove();
                    })
                    li.append(span_nom);
                    li.append(button_ban);
                    ul.append(li);
                    span_nom.innerText = nom;

                },
                /**
                 * Vérification des listes
                 */
                checkSousgroupe: function (list) {
                    list.forEach(function (li) {
                        let id = li["id"];
                        let row = $("div[data-id ='" + id + "']");
                        let button = $("#add_" + id);
                        row.addClass('selected')
                        button.addClass('selected').html('<i class="fas fa-user-minus"></i>').off("click").bind('click', function () {
                            indexUtil.method.removeSousgroupe($(this));
                        });
                    })
                },
                addSousgroupe: function (button) {
                    let row = button.parent().parent();
                    let nom = (row.children(".nom").text()).trim();
                    let classe = row.children(".classeEleve").text();
                    let id = row.data('id');
                    indexUtil.method.appendToList(indexUtil.index.list, id, nom, classe);
                    indexUtil.param.sousgroupeList.push({'id': id, 'nom': nom, 'classe': classe});
                    row.addClass('selected');
                    button.addClass('selected').html('<i class="fas fa-user-minus"></i>').off("click").bind('click', function () {
                        indexUtil.method.removeSousgroupe($(this));
                    });
                },
                removeSousgroupe: function (button) {
                    let row = button.parent().parent();
                    let id = row.data('id');
                    let li = $("#list_add_" + id);
                    row.removeClass("selected");
                    button.removeClass('selected').html('<i class="fas fa-user-plus"></i>').off("click").bind('click', function () {
                        indexUtil.method.addSousgroupe($(this));
                    });
                    let index = indexUtil.param.sousgroupeList.findIndex(elem => elem['id'] === id);
                    indexUtil.param.sousgroupeList.splice(index, 1);
                    li.remove();
                },
                checkProfSousgroupe: function (list) {
                    list.forEach(function (li) {
                        let id = li["id"];
                        let row = $("div[data-id ='" + id + "']");
                        let button = $("#show_" + id);
                        row.addClass('selected')
                        button.addClass('selected').html('<i class="fas fa-user-minus"></i>').off("click").bind('click', function () {
                            indexUtil.method.removeProfSousgroupe($(this));
                        });
                    })
                },
                addProfSousgroupe: function (button) {
                    let row = button.parent().parent();
                    let nom = row.children(".nom").text();
                    let id = row.data('id');
                    indexUtil.method.appendToList(indexUtil.index.profList, id, nom);
                    indexUtil.param.sousgroupeProfList.push({'id': id, 'nom': nom});
                    button.addClass('selected').html('<i class="fas fa-user-minus"></i>').off("click").bind('click', function () {
                        indexUtil.method.removeProfSousgroupe($(this));
                    });
                },
                removeProfSousgroupe: function (button) {
                    let row = button.parent().parent();
                    let id = row.data('id');
                    let li = $("#list_show_" + id);
                    row.removeClass("selected");
                    button.removeClass('selected').html('<i class="fas fa-user-plus"></i>').off("click").bind('click', function () {
                        indexUtil.method.addProfSousgroupe($(this));
                    });
                    let index = indexUtil.param.sousgroupeProfList.findIndex(elem => elem['id'] === id);
                    indexUtil.param.sousgroupeProfList.splice(index, 1);
                    li.remove();
                },
                resetList: function () {
                    indexUtil.index.list.html("");
                    indexUtil.index.profList.html("");
                    indexUtil.param.sousgroupeList = [];
                    indexUtil.param.sousgroupeProfList = [];
                    $("button.selected.addSousgroupe").removeClass('selected').html('<i class="fas fa-user-plus"></i>').off("click").bind('click', function () {
                        indexUtil.method.addSousgroupe($(this));
                    });
                    $("button.selected.profSousgroupe").removeClass('selected').html('<i class="fas fa-user-plus"></i>').off("click").bind('click', function () {
                        indexUtil.method.addProfSousgroupe($(this));
                    });
                },
                pluck: function(array, key){
                    let arr = array.map(function(item) { return item[key]; })
                    if (arr === null) {
                        return []
                    } else {
                        return arr;
                    }
                }
            }
        }
        indexUtil.method.initialize();
    </script>
{% endblock %}