{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/listing.css') }}">{% endblock %}
{% if error is defined %}
    <div class="error">{{ error }}</div>
{% endif %}
{% if response %}
    {% if user == 'Eleves' %}
        {% set col1 = 'Classe' %}
        {% set col2 = 'Sous-groupes' %}
    {% elseif user == 'Professeurs' %}
        {% set col1 = 'Classes' %}
        {% set col2 = 'Matière(s) enseignée(s)' %}
    {% elseif user == 'Personnels' %}
        {% set col1 = 'Poste' %}
        {% set col2 = '' %}
    {% endif %}
    <div class="table">
        <div class="tr row">
            <span class=" td col-2 offset-2">Nom</span>
            <span class=" td col-2">{{ col1 }}</span>
            <span class=" td col-2">{{ col2 }}</span>
            <span class=" td col-2"></span>
        </div>
        {% for list in response %}
            <div class="tr row">
                <span class="td nom col-2 offset-2">{{ list.nom }} {{ list.prenom }}</span>
                {% if user == "Eleves" %}
                    <span class="td classeEleve col-2">{{ list.classe }}</span>
                    <div class="td col-2">
                        {% if list.sousgroupe %}
                            <ul class="sousgroupe">
                                {% for sg in list.sousgroupe %}
                                    <li>
                                        {{ sg }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% elseif user == "Professeurs" %}
                    {% set classe = list.classe|split(',') %}
                    <div class="td col-2">
                        <ul class="classeProf">
                            {% for cl in classe %}
                                <li>
                                    {{ cl }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="td col-2">
                        <ul class="matiereProf">
                            {% set matiere = list.matiere|split(',') %}
                            {% for mat in matiere %}
                                <li>
                                    {{ mat }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% elseif user == "Personnels" %}
                    <div class="td col-2">
                        <p class="poste">{{ list.poste }}</p>
                    </div>
                    <span class="td col-2">
                        </span>
                {% endif %}
                <span class="td col-2">
                    <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#modalCRUD"
                            data-button="modif" data-user="{{ user }}" data-id="{{ list.id }}">Modifier</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCRUD"
                            data-button="suppr" data-user="{{ user }}" data-id="{{ list.id }}">Supprimer</button>
                </span>
            </div>
        {% endfor %}
    </div>
{% endif %}
<script>

</script>