{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/Utilisateurs/listing.css') }}">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
{% endblock %}
{% if error is defined %}
    <div class="error">{{ error }}</div>
{% endif %}
{% if response is defined %}
    {% if user == 'Eleves' %}
        {% set col1, col2 = 'Classe', 'Sous-groupes' %}
    {% elseif user == 'Professeurs' %}
        {% set col1, col2 = 'Classes', 'Matière(s) enseignée(s)' %}
    {% elseif user == 'Personnels' %}
        {% set col1, col2 = 'Poste', '' %}
    {% else %}
        {% set col1, col2 = '', '' %}
    {% endif %}
    <div class="w-100">
        <div class="table">
            <div class="tr row entete">
                <span class="td col-4">Nom</span>
                <span class="td col-2">{{ col1 }}</span>
                <span class="td col-2">{{ col2 }}</span>
                <span class="td col-2">Options</span>
            </div>
            {% for list in response %}
                <div class="tr row list {% if loop.index is divisible by(2) %}row-2{% else %}row-1{% endif %}" data-id={{ list.id }}>
                    <span class="td nom col-4 col01">{% if user == "Professeurs" %}{{ list.civilite }}{% endif %} {{ list.nom|upper }} {{ list.prenom|title }}</span>
                    {% if user == "Eleves" %}
                        <span class="td classeEleve col-2 col02">{{ list.classe }}</span>
                        <div class="td col-2 col03">
                            {% if list.sousgroupe %}
                                <ul class="sousgroupe">
                                    {% for sg in list.sousgroupe %}
                                        <li>
                                            {{ sg }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% elseif user == "Professeurs" %}
                        {% set classe = list.classe|split(',') %}
                        <div class="td col-2 col02">
                            <ul class="classeProf">
                                {% for cl in classe %}
                                    <li>
                                        {{ cl }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="td col-2 col03">
                            <ul class="matiereProf">
                                {% set matiere = list.matiere|split(',') %}
                                {% for mat in matiere %}
                                    <li>
                                        {{ mat }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% elseif user == "Personnels" %}
                        <div class="td col-2 col02">
                            <p class="poste">{{ list.poste }}</p>
                        </div>
                        <span class="td col-2 col03">
                        </span>
                    {% elseif user == "Admins" %}
                        <div class="td col-2 col02">
                        </div>
                        <div class="td col-2 col03">
                        </div>
                    {% endif %}
                    <span class="td col-4 col04">
                        {% if user == "Eleves" %}
                            <form class="d-inline" method="POST"
                                  action="{{ path('dossier.index', {id: list.id, nom: list.nom, prenom: list.prenom}) }}">
                                <button class="btn btn-outline-info" type="submit" data-id="{{ list.id }}"><i
                                            class="fas fa-folder-open"></i></button>
                            </form>
                        {% endif %}
                        {% if app.user.roles[0] == 'ROLE_ADMIN' or (app.user.roles[0] == 'ROLE_PERSONNEL' and (user == 'Eleves' or user == 'Professeurs')) %}
                        <button class="btn btn-outline-dark" type="button" data-toggle="modal" data-target="#modalCRUD"
                                data-button="modif" data-user="{{ user }}" data-id="{{ list.id }}"><i
                                    class="fas fa-user-edit"></i></button>
                        <button class="btn btn-outline-danger" type="button" data-toggle="modal"
                                data-target="#modalCRUD"
                                data-button="suppr" data-user="{{ user }}" data-id="{{ list.id }}"><i
                                    class="fas fa-user-slash"></i></button>
                        {% endif %}
                        {% if user == "Eleves" %}
                            <button id="add_{{ list.id }}"
                                    class="addSousgroupe btn btn-outline-secondary"><i
                                        class="fas fa-user-plus"></i></button>
                        {% endif %}
                        {% if app.user.roles[0] == 'ROLE_PERSONNEL' or app.user.roles[0] == 'ROLE_ADMIN' %}
                            {% if user == "Professeurs" %}
                                <button id="show_{{ list.id }}"
                                        class="profSousgroupe btn btn-outline-secondary"><i
                                            class="fas fa-user-plus"></i></button>
                            {% endif %}
                        {% endif %}
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% block javascripts %}
    <script>
            listingUtil = {
                index: {
                    addSG: $(".addSousgroupe"),
                    profSG: $(".profSousgroupe"),
                },
                method: {
                    initialize: function () {
                        indexUtil.index.optionsToggle.show();
                        listingUtil.index.addSG.bind('click', function () {
                            indexUtil.method.addSousgroupe($(this));
                        });
                        listingUtil.index.profSG.bind('click', function () {
                            indexUtil.method.addProfSousgroupe($(this));
                        });
                        if (!indexUtil.index.optionsField.is(":visible")){
                            listingUtil.index.addSG.hide();
                            listingUtil.index.profSG.hide();
                        }
                    }
                }
        }
        listingUtil.method.initialize();
    </script>
{% endblock %}
