{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/Utilisateurs/listing.css') }}">{% endblock %}
{% if error is defined %}
    <div class="error">{{ error }}</div>
{% endif %}
{% if response %}
    {% if user == 'Eleves' %}
        {% set col1, col2 = 'Classe', 'Sous-groupes' %}
    {% elseif user == 'Professeurs' %}
        {% set col1, col2 = 'Classes', 'Matière(s) enseignée(s)' %}
    {% elseif user == 'Personnels' %}
        {% set col1, col2 = 'Poste', '' %}
    {% else %}
        {% set col1, col2 = '', '' %}
    {% endif %}

    <div class="w-100">
        <div class="table">
            <div class="tr row">
                <span class=" td col-2">Nom</span>
                <span class=" td col-2">{{ col1 }}</span>
                <span class=" td col-2">{{ col2 }}</span>
                <span class=" td col-2"></span>
            </div>
            {% for list in response %}

                <div class="tr row" data-id={{ list.id }}>
                    <span class="td nom col-2">{% if user == "Professeurs" %}{{list.civilite}}{% endif %} {{ list.nom }} {{ list.prenom }}</span>
                    {% if user == "Eleves" %}
                        <span class="td classeEleve col-2">{{ list.classe }}</span>
                        <div class="td col-2">
                            {% if list.sousgroupe %}
                                <ul class="sousgroupe">
                                    {% for sg in list.sousgroupe %}
                                        <li>
                                            {{ sg }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% elseif user == "Professeurs" %}
                        {% set classe = list.classe|split(',') %}
                        <div class="td col-2">
                            <ul class="classeProf">
                                {% for cl in classe %}
                                    <li>
                                        {{ cl }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="td col-2">
                            <ul class="matiereProf">
                                {% set matiere = list.matiere|split(',') %}
                                {% for mat in matiere %}
                                    <li>
                                        {{ mat }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% elseif user == "Personnels" %}
                        <div class="td col-2">
                            <p class="poste">{{ list.poste }}</p>
                        </div>
                        <span class="td col-2">
                        </span>
                    {% elseif user == "Admins" %}
                        <div class="td col-4">
                        </div>
                    {% endif %}
                    <span class="td col-4">
                        {% if user == "Eleves" %}
                            <form method="POST"
                                  action="{{ path('dossier.index', {id: list.id, nom: list.nom, prenom: list.prenom}) }}">
                                <button type="submit" data-id="{{ list.id }}">Dossier</button>
                            </form>

                        {% endif %}
                        <button type="button" class="" data-toggle="modal" data-target="#modalCRUD"
                                data-button="modif" data-user="{{ user }}" data-id="{{ list.id }}">Modifier</button>
                        <button type="button" class="" data-toggle="modal" data-target="#modalCRUD"
                                data-button="suppr" data-user="{{ user }}" data-id="{{ list.id }}">Supprimer</button>
                        {% if user == "Eleves" %}
                            <button id="add_{{ list.id }}"
                                    class="addSousgroupe">Ajouter au sous-groupe</button>
                        {% endif %}
                        {% if app.user.roles[0] == 'ROLE_PERSONNEL' or app.user.roles[0] == 'ROLE_ADMIN' %}
                            {% if user == "Professeurs" %}
                                <button id="show_{{ list.id }}"
                                        class="profSousgroupe">Ajouter à la liste destinataire</button>
                            {% endif %}
                        {% endif %}
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>

{% endif %}
{% block javascripts %}
    <script>
        $("#sousgroupeToggle").bind('click', function () {
            let field = $(".sousgroupeField")
            field.toggle();
            if (field.is(":visible")) {
                $(".addSousgroupe").show();
                $(".profSousgroupe").show();
            } else {
                $(".addSousgroupe").hide();
                $(".profSousgroupe").hide();
            }
        })
        $(".addSousgroupe").bind('click', function () {
            AddSousgroupe($(this));
        })
        $(".profSousgroupe").bind('click', function () {
            AddProfSousgroupe($(this));
        })
    </script>
{% endblock %}
