{% extends 'base.html.twig' %}
{% block title 'Ajout cours' %}
{% block body %}
    {% if error is defined %}
        {{ error }}
    {% endif %}
    {% if conflit is defined %}
        {{ dump(conflit) }}
    {% endif %}
    <div class="container">
        {{ form_start(form) }}
        <div class="mb-2 ml-5">
            {{ form_widget(form.typeChoice) }}
        </div>
        <div id="form_classe" class="mb-2">
            {{ form_label(form.id_classe) }}
            {{ form_widget(form.id_classe) }}
        </div>
        <div id="form_sousgroupe" class="mb-2">
            {{ form_label(form.id_sousgroupe) }}
            {{ form_widget(form.id_sousgroupe) }}
        </div>
        <div class="mb-2">
            {{ form_label(form.matiere) }}
            {{ form_widget(form.matiere) }}
        </div>

        <div id="form_autre" class="mb-2">
            {{ form_label(form.autre) }}
            {{ form_widget(form.autre) }}
        </div>
        {{ form(form) }}
        {{ form_end(form) }}
        <form action="{{ path('cours.index') }}">
            <input type="submit" class="btn btn-secondary" value="Annuler">
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        let addCours = {
            index: {
                typeChoice: $("#cours_typeChoice"),
                sousgroupe: $("#form_sousgroupe"),
                classe: $("#form_classe"),
                matiere: $("#cours_matiere"),
                autre: $("#form_autre"),
                radioClasse: $("#cours_typeChoice_0")
            },
            method: {
                initialize: function () {
                    addCours.index.typeChoice.on('change', function () {
                        addCours.index.sousgroupe.toggle();
                        addCours.index.classe.toggle();
                    });
                    addCours.index.matiere.on('change', addCours.method.checkMatiere);
                    addCours.index.radioClasse.prop('checked', true);
                    console.log(addCours.index.autre)
                    addCours.index.sousgroupe.hide();
                    this.checkMatiere();
                },
                checkMatiere: function () {
                    let option = addCours.index.matiere.children("option:selected").text();
                    if (option === "Autre") {
                        addCours.index.autre.show();
                    } else {
                        addCours.index.autre.hide();
                    }
                }
            }
        }
        addCours.method.initialize();
    </script>
{% endblock %}