{{ dump(date) }}
<h1>Emploi du temps du {{ date|date_modify("monday this week")|date("d/m") }}
    au {{ date|date_modify("saturday this week")|date("d/m") }}</h1>
<table class="emploiDuTemps w-100">
    <thead>
    <tr>
        <td></td>
        <td>Lundi</td>
        <td>Mardi</td>
        <td>Mercredi</td>
        <td>Jeudi</td>
        <td>Vendredi</td>
        <td>Samedi</td>
    </tr>
    </thead>
    <tbody>
    {% set hours = ['8h', '9h', '10h', '11h', '12h', '13h', '14h', '15h', '16h', '17h', '18h'] %}
    <tr>
        <td>{{ hours[0] }}</td>
        <td rowspan="0"></td>
        <td rowspan="0"></td>
        <td rowspan="0"></td>
        <td rowspan="0"></td>
        <td rowspan="0"></td>
        <td rowspan="0"></td>
    </tr>
    {% for i in 1..10 %}
        <tr>
            <td>{{ hours[i] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>