<h1>Emploi du temps du {{ date_lundi|date("d/m") }} au {{ date_samedi|date("d/m") }}</h1>
{#{{ dump(lundi, mardi, mercredi, jeudi, vendredi, samedi, debut_affichage) }}#}
{{ dump() }}
<table class="emploiDuTemps w-100">
    <thead>
    <tr>
        <td></td>
        <td>Lundi</td>
        <td>Mardi</td>
        <td>Mercredi</td>
        <td>Jeudi</td>
        <td>Vendredi</td>
        <td>Samedi</td>
    </tr>
    </thead>
    <tbody>
    {% set jours = ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi'] %}
    <tr>
        <td>{{ hours[0] }}</td>
        {% for jour in jours %}
            <td id="{{ jour }}" rowspan="0" style="position: relative">
                <div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0">
                    {% for cours in _context[jour] %}

                    <div class="cours" style="width: 100%; position: absolute; top: {{ cours.float_debut }}%; height: {{ cours.float_fin - cours.float_debut }}%;">
                        {{ cours.float_debut ~ cours.float_fin }}
                    </div>
                {% endfor %}
                </div>
            </td>
        {% endfor %}
        {% for key, hour in hours %}
        <tr>
            {% if key > 0 %}
                <td>{{ hour }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
