<p>Cours de {{ matiere|escape }}</p>
<p>Par {{ auteur|escape }}</p>
{% if app.session.get('role') != 'ROLE_ELEVE' %}
    <p>Pour : {{ destinataire|escape }}</p>
{% endif %}
<p>Le {{ date|escape }}</p>
<p>De {{ debut|escape }} à {{ fin|escape }}</p>
{% if commentaire|length > 0 %}
    <p>Commentaire : {{ commentaire|escape }}</p>
{% endif %}


