<form action="{{ path('cours.update') }}" method="POST">
    <input hidden type="text" name="id" value="{{ cours.id|escape }}">
    <input hidden type="text" name="date" value="{{ date|escape }}">
    <input type="submit" class="btn btn-info" name="Modifier" value="Modifier">
</form>
<form action="{{ path('cours.delete') }}" method="POST">
    <input hidden type="text" name="id" value="{{ cours.id|escape }}">
    <input hidden type="text" name="date" value="{{ date|escape }}">
    <input type="submit" class="btn btn-danger" name="Supprimer" value="Supprimer">
</form>
<form action="{{ lien }}" method="POST">
    <input type="submit" class="btn btn-primary" name="Aller au cours" value="Aller au cours">
</form>

